<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mail" method="post">
       <div>
        <label for="from">From</label>
        <input type="text" placeholder="From" name="email"><br>
        <label for="to">To</label>
        <input type="text" placeholder="To" name="toemail"><br>
        <label for="subject">Subject</label>
        <input type="text" placeholder="Subject" name="subject"><br>
        <label for="text">Text</label>
        <input type="text" placeholder="text" name="text"><br>
       </div>
       <div class="btn">
        <button type="button">Send</button>
       </div>
       </form>
</body>
</html>