*{box-sizing : border-box}
.container-box{
    height: 600px;
    width: 500px;
    background-color:aliceblue;
    margin: auto;
    position: relative;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0;
    padding: 50px;
    /* padding-right: 50px; */
}
h1{
    text-align: center;
    /* padding-top: 30px; */
    font-family:Arial, Helvetica, sans-serif;
}
input[type = text], input[type = password]{
    width: 100%;
    padding: 10px;
    margin: 5px 5px 22px 0;
    display: inline-block;

}
.signbtn{
    font-size: 16px;
    margin-top: 10px;
    padding:10px 15px;
    background-color:rgb(114, 132, 146);
    color: white;
    margin-left:150px;
}
 .signbtn:hover{
    opacity: 80;
}
p{
    padding:50px;
    padding-left: 90px;
}